default:
  image: registry.melroy.org/melroy/docker-images/rust:1.93-node-24.13.0

.cache_backend_template: &cache_backend_definition
  cache:
    key:
      files:
        - backend/package-lock.json
        - rust/gbt/Cargo.lock
    paths:
      # npm
      - backend/.npm/
      # cargo
      - .cargo

.cache_frontend_template: &cache_frontend_definition
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/.npm/

stages:
  - test
  - build
  - deploy

lint-format-test-backend:
  stage: test
  <<: *cache_backend_definition
  interruptible: true
  script:
    - cd backend
    - npm ci --cache .npm --prefer-offline
    #- npm run lint
    - npm run prettier:check
    - npm run test

#test-frontend:
#  stage: test
#  image: cypress/browsers:22.15.0
#  <<: *cache_frontend_definition
#  interruptible: true
#  variables:
#    ELECTRON_EXTRA_LAUNCH_ARGS: "--headless --disable-gpu --disable-software-rasterizer --no-sandbox"
#  script:
#    - cd frontend
#    - npm ci --cache .npm --prefer-offline
#    - npm run config:defaults:explorer
#    - npm run e2e:ci

lint-format-frontend:
  stage: test
  <<: *cache_frontend_definition
  interruptible: true
  script:
    - cd frontend
    - npm ci --cache .npm --prefer-offline
    - npm run config:defaults:explorer
    #- npm run lint
    - npm run prettier:check

build-backend:
  stage: build
  variables:
    NODE_ENV: production
    CARGO_HOME: $CI_PROJECT_DIR/.cargo
  <<: *cache_backend_definition
  interruptible: true
  script:
    - cd backend
    - npm ci --cache .npm --prefer-offline --omit=dev
    - npm run package
  artifacts:
    name: "Backend Build"
    expire_in: 1 week
    paths:
      - backend/package

build-frontend:
  stage: build
  variables:
    NODE_ENV: production
  <<: *cache_frontend_definition
  interruptible: true
  script:
    - cd frontend
    - npm ci --cache .npm --prefer-offline --omit=dev
    - npm run config:defaults:explorer
    - npm run build
  artifacts:
    name: "Frontend Build"
    expire_in: 1 week
    paths:
      - frontend/dist/explorer/browser

docker-build-deploy:
  stage: deploy
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "bitcoincash" && $CI_COMMIT_TAG'
  variables:
    DOCKER_BUILDKIT: 1
    COMPOSE_DOCKER_CLI_BUILD: 0
  parallel:
    matrix:
      - SERVICE: ["frontend", "backend"]
  tags:
    - shell
  before_script:
    - echo "$CI_DEPLOY_PASSWORD" | docker login -u "$CI_DEPLOY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker/init.sh "$CI_COMMIT_TAG"

    #--cache-from "type=local,src=/tmp/.buildx-cache" \
    #--cache-to "type=local,dest=/tmp/.buildx-cache,mode=max" \
    - |
      docker buildx build \
        --build-arg commitHash="$CI_COMMIT_SHORT_SHA" \
        --build-context rustgbt=./rust \
        --build-context backend=./backend \
        --tag $CI_REGISTRY_IMAGE/explorer-$SERVICE:$CI_COMMIT_TAG \
        ./$SERVICE/
    - docker push $CI_REGISTRY_IMAGE/explorer-$SERVICE:$CI_COMMIT_TAG

# Deploy frontend via Artifactory Deployer: https://gitlab.melroy.org/melroy/gitlab-artifact-deployer-go
deploy-frontend:
  stage: deploy
  needs:
    - job: build-frontend
      artifacts: true
  image: alpine:3
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "bitcoincash" && $CI_COMMIT_TAG'
  environment:
    name: production
    url: https://bchexplorer.cash
  script:
    - echo "Deploying frontend..."
  artifacts:
    name: "Frontend"
    expire_in: 3 months
    paths:
      - frontend/dist/explorer/browser
