@use "sass:color";

/* Theme */
$bg: #1d1f31;
$active-bg: #11131f;
$hover-bg: #12131e;
$fg: #fff;
$nav-bg: $bg;
$title-fg: #4ab94f;

/* Bootstrap */
$body-bg: $bg;
$body-color: $fg;
$gray-800: $bg;
$gray-700: $fg;

$nav-tabs-link-active-bg: $active-bg;

$primary: #1f8148;
$secondary: #2d3948;
$tertiary: #13926e;
$success: #1a9436;
$info: #1bd8f4;

$h5-font-size: 1.15rem !default;

$pagination-bg: $body-bg;
$pagination-border-color: $gray-800;
$pagination-disabled-bg:           $fg;
$pagination-disabled-border-color: $bg;
$pagination-active-color:          $fg;
$pagination-active-bg:             $tertiary;
$pagination-hover-bg:              $hover-bg;
$pagination-hover-border-color:     $bg;
$pagination-disabled-bg:          $bg;

$custom-select-indicator-color: $fg;

.input-group-text {
  background-color: #1c2031 !important;
  border: 1px solid #20263e !important;
}

$link-color:                $info;
$link-decoration:           none !default;
$link-hover-color:          color.adjust($link-color, $lightness: -15%) !default;
$link-hover-decoration:     underline !default;

$dropdown-bg: $bg;
$dropdown-link-color: $fg;

$dropdown-link-hover-color: $fg;
$dropdown-link-hover-bg: $active-bg;

$dropdown-link-active-color: $fg;
$dropdown-link-active-bg: $active-bg;

:root {
  --bg: #{$bg};
  --active-bg: #{$active-bg};
  --hover-bg: #{$hover-bg};
  --fg: #{$fg};
  --nav-bg: #{$nav-bg};
  --title-fg: #{$title-fg};

  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --success: #{$success};
  --info: #{$info};
  --link-color: #{$link-color};
  --link-hover-color: #{$link-hover-color};
  --icon: #f1f1f1;
  --skeleton-bg: #2e324e;
  --skeleton-bg-light: #5d6182;

  --box-bg: #24273e;
  --stat-box-bg: #181b2d;
  --alert-bg: #3a1c61;
  --transparent-fg: #ffffff66;
  --fade-out-box-bg-start: rgba(36, 39, 62, 0);
  --fade-out-box-bg-end: rgba(36, 39, 62, 1);
  --opacity: 0.57;

  --testnet: #1d486f;
  --signet: #6f1d5d;

  --mainnet-alt: #27915c;
  --testnet-alt: #183550;
  --signet-alt: #471850;

  --green: #3bcc49;
  --red: #dc3545;
  --yellow: #fff000;
  --grey: #6c757d;
  --tooltip-grey: #b1b1b1;
  --orange: #b86d12;

  --search-button: #13926e;
  --search-button-border: #0f946e8a;
  --search-button-focus: #0fa87d;
  --search-button-shadow: #10a57b;
}
