.container-xl {
  max-width: 1400px;
  padding-bottom: 100px;
}

.table td {
  vertical-align: middle;
}

.rank {
  width: 8%;
}

.pool {
  width: 17%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}

.slug {
  @media (max-width: 875px) {
    display: none;
  }
}

.empty-blocks {
  @media (max-width: 625px) {
    display: none;
  }
}

.skeleton-loader {
  max-width: 200px;
}
.skeleton-loader.data {
  max-width: 70px;
}

.clip {
  @media (max-width: 576px) {
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table-data td {
  text-align: left;
  @media (max-width: 767.98px) {
    text-align: center;
  }
}
