.sig {
  cursor: pointer;

  /* Reference:
  '65': 'SIGHASH_ALL',
  '66': 'SIGHASH_NONE',
  '67': 'SIGHASH_SINGLE',
  '97': 'SIGHASH_ALL | SIGHASH_UTXOS',
  '98': 'SIGHASH_NONE | SIGHASH_UTXOS',
  '99': 'SIGHASH_SINGLE | SIGHASH_UTXOS',
  '193': 'SIGHASH_ALL | ACP',
  '194': 'SIGHASH_NONE | ACP',
  '195': 'SIGHASH_SINGLE | ACP',
*/
  &.sighash-65 {
    --sigColor: var(--green);
  }
  &.sighash-66 {
    --sigColor: var(--green);
  }
  &.sighash-67 {
    --sigColor: gold;
  }
  // &.sighash-someotherhexvalue {
  //   --sigColor: cornflowerblue;
  // }
  &.sighash-97 {
    --sigColor: darkviolet;
  }
  &.sighash-98 {
    --sigColor: darkorange;
  }
  &.sighash-99 {
    --sigColor: var(--pink);
  }
  &.sig-no-lock {
    --sigColor: var(--red);
  }
  color: var(--sigColor);

  &:hover,
  &.hovered {
    color: color-mix(in srgb, var(--sigColor) 60%, white);
  }

  ::ng-deep svg path {
    pointer-events: auto;
  }
}

.sig-key {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
  pointer-events: none;

  &.sig-inline {
    position: relative;
    pointer-events: auto;
    margin-left: 4px;
    margin-right: -4px;
  }
}

.script {
  margin-left: 4px;
  margin-right: -4px;
}
